<center>
<br><h1>Plants of the World!</h1><br>


<ul class="plant_index">
<% plants = @plants.sort{|a, b| a.common_name <=> b.common_name} %>
<% plants.each do |plant| %>
    <li class="plant_index"><%= link_to plant.common_name, plant_path(plant) %></li>
<% end %>
</ul>

