<h1>Plants of the World!</h1>
<ul>
<% plants = @plants.sort{|a, b| a.common_name <=> b.common_name} %>
<% plants.each do |plant| %>
    <li><%= link_to plant.common_name, plant_path(plant) %></li>
<% end %>
</ul>