<center>
<h1>Edit a Garden!</h1>

<%= render partial: "form", locals: {button_text: "Submit Updates"} %><br>
<%= button_to "Add a Plant", plants_path, method: :get %><br>
<%= button_to "Delete Garden", @garden, method: :delete %>