
<div style="background-image: url('/backyard.png'); height:100vh; width:100vw; background-repeat: no-repeat; background-size: 100% 100%">
<br>
<h1>Welcome to <%= @garden.name %>!</h1>



<h2>Created by: <%= link_to @garden.user.full_name, user_path(@garden.user) %></h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<% @garden.plants.each do |plant| %>
    <img src="<%= plant.picture %>" height="150" width="150" %>
<% end %>
</div>
