// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.plant_index { 
    column-count: 3;
    column-gap: 2em;
    column-width: 300px;
    display: block;
}


