<br>
<center>
<h1>Welcome to</h1>
<img src="pot-n-plot.png">
<h3>The world's premiere virtual gardening space</h3>
<br>
<h4>Take a look at our <%= link_to "plant collection", plants_path %>.</h4>
<img src="cactus.png" height="130" width="120">
<br><br>
<h4>Create your own garden today:</h4>

<h4><%= link_to "Login", login_path %> | <%= link_to "Signup", signup_path %></h4>

